<?xml version='1.0' encoding='utf-8'?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.sj.CamInvPicture"
        version   = "2.1.0">
  <name>Hello World</name>
  <description>
    Gateway to PhoneGap
  </description>
  <author href="http://smokinjoes.com" email="vramalingam@smokinjoe.com">
    Vivekanandan Ramalingam
  </author>


  <access origin="*" />


  <preference name="orientation"      value="portrait" />
  <preference name="target-device"    value="universal" />
  <preference name="fullscreen"       value="false" />
  <preference name="webviewbounce"    value="false" />
  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarBackgroundColor" value="#2c3e50" />
  <preference name="android-minSdkVersion" value="21" />
  <preference name="android-maxSdkVersion" value="21" />

</widget>
